<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
        <title>Contact Us - ORESS</title>
    </head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="../static/assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
        </button>
        <img src="../static/assets/LOGO.svg" width="80" height="80" class="ml-3">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.index') }}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('static_pages.about') }}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contact Page Title -->
    <h2 class="text-center">Feel free to reach to us !</h2>

    <!-- Contact Form Card -->
    <div class="card">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Your message" required></textarea>
            </div>
            <button type="submit" class="btn-primary">Send Message</button>
        </form>
    </div>

    <!-- Footer -->
    <div class="page_end">
        <div class="footer">
            <div class="bot-footer">
                © 2024 ORESS. All Rights Reserved.
            </div><br/>
            <div class="nouridio">A project by <a href="">Kristen W. Kamouh</a></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6HJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/now-ui-kit.min.js') }}"></script>
    
</body>
</html>
